  
<% if @name==nil %>
  What is your name ?
  <form action="/" method="get">
  <input type="text" name="name">
  <input type="submit">
  </form>  
<% else %>
  Welcome to the game &nbsp <%=@name.capitalize %>
<% end %>