<!DOCTYPE html>
<html>

  <head>
    <title>ROCK PAPER SCISSORS GAME!</title>
    <!--<meta name="keywords" content="rubylearning,ruby,ruby programming,ruby course,sinatra course" />-->
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="icon" type="image/ico" href="/img/favicon.ico" />
  </head>
  <body "style=height: 100%">
    <section style="width: 500px; margin-left: auto; margin-right: auto;">
        <h1>Rock Paper Scissors Game Play</h1>
        <%= yield %>
    </section>
  <footer>
    Copyright Marcin Walendzik 2015
  </footer>  
  </body>

</html>